:root {
  --primary-color: #9bbfc8;
  --primary-color-dark: #13547a;
  --primary-color-light: whitesmoke;
  --primary-font-family: "Grenze Gotisch", cursive;
  --box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  font-family: var(--primary-font-family);
  margin: 100px auto;
  max-width: 700px;
  overflow: hidden;
  text-transform: lowercase;
}

.container {
  background: rgba(245, 245, 245, 0.3);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 35px;
}

.search-bar {
  align-items: center;
  display: flex;
}

.form-control {
  background: var(--primary-color-light);
  border-radius: 5px 0 0 5px;
  min-width: 150px;
}

.search-city {
  background: var(--primary-color-dark);
  border: none;
  border-radius: 0 5px 5px 0;
  color: var(--primary-color-light);
  padding: 6px 10px;
  text-transform: lowercase;
}

.current-location {
  background: var(--primary-color-dark);
  border: none;
  border-radius: 50%;
  color: var(--primary-color-light);
  font-size: 20px;
  margin-left: 300px;
  padding: 10px 12px;
}

.search-city:hover,
.current-location:hover {
  background: var(--primary-color-light);
  border: none;
  color: var(--primary-color-dark);
  transition: all 500ms ease-in-out;
}

header {
  align-items: center;
  display: flex;
}

h1 {
  color: var(--primary-color-light);
  font-size: 50px;
  font-weight: 900;
  margin-top: 10px;
}

h2 {
  color: var(--primary-color-light);
  font-size: 30px;
  font-weight: 300;
  line-height: 15px;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main-section ul {
  background: rgba(245, 245, 245, 0.3);
  border-radius: 5px;
  margin-right: 25px;
  position: relative;
  top: 35px;
}

.main-section li {
  margin: 0 5px;
}

.description {
  color: var(--primary-color-light);
  font-size: 20px;
  font-weight: 300;
}

ul {
  color: var(--primary-color-light);
  display: flex;
  font-size: 20px;
  font-weight: 300;
  list-style: none;
  padding: 15px;
  text-align: center;
}

.main {
  color: var(--primary-color-light);
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.icon {
  width: 80px;
  position: relative;
  top: -5px;
  left: 13px;
}

.divider {
  font-size: 60px;
  font-weight: 200;
  position: relative;
  top: -2px;
}

.weather-forecast {
  color: var(--primary-color-light);
  text-align: center;
}

.day {
  font-size: 15px;
  line-height: 0;
}

.small-icon {
  width: 80px;
}

.temp-day {
  color: var(--primary-color-light);
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

footer {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}

.credit-link {
  color: var(--primary-color-light);
  text-decoration: none;
}

.credit-link:hover {
  color: var(--primary-color-dark);
  transition: all 500ms ease-in-out;
}

#celsius-link,
#fahrenheit-link {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -33px;
  text-align: center;
  text-decoration: none;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  color: var(--primary-color-dark);
  transition: all 500ms ease-in-out;
}

#celsius-link:focus,
#fahrenheit-link:focus {
  color: var(--primary-color-dark);
}
