body {
  background: whitesmoke;
  font-family: "Grenze Gotisch", cursive;
  margin: 20px;
  text-transform: lowercase;
}

h1 {
  color: whitesmoke;
  font-size: 50px;
  font-weight: 900;
  margin-top: 10px;
  margin-left: 5px;
}

h2 {
  color: whitesmoke;
  font-size: 28px;
  font-weight: 300;
  margin-top: -15px;
  margin-left: 10px;
}

h3 {
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 45px;
  left: 5px;
  text-transform: uppercase;
}

ul {
  background: rgba(228, 216, 198, 0.4);
  border: 1px solid rgba(228, 216, 198, 0.1);
  border-radius: 6px 6px 6px 6px;
  color: whitesmoke;
  display: block;
  font-size: 17px;
  font-weight: 300;
  list-style: none;
  max-width: 112px;
  margin: 0;
  padding: 6px 10px;
  position: relative;
  top: -230px;
  left: 520px;
  text-align: left;
}

.description {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  left: 117px;
  top: 70px;
}

.date {
  color: whitesmoke;
  font-family: "Grenze Gotisch", cursive;
}

.temp-day {
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  top: -50px;
}

.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/260/original/romantic_renais_0_%289%29.png?1694189966");
  background-size: cover;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 35px;
  max-width: 700px;
  max-height: 475px;
}

.form-control {
  background: whitesmoke;
  border-radius: 6px 0 0 6px;
  display: inline-block;
  margin-top: 5px;
  max-width: 250px;
  position: absolute;
}

.search-city {
  background: #cb412e;
  border: 1px solid #cb412e;
  border-radius: 0 6px 6px 0;
  color: whitesmoke;
  margin-top: 5px;
  margin-left: 250px;
  padding: 6px 10px;
  position: absolute;
}

.search-city:hover {
  background: whitesmoke;
  border: 1px solid whitesmoke;
  color: #cb412e;
  transition: all 200ms ease-in-out;
}

.current-location {
  background: rgba(203, 65, 46, 0.4);
  border: 1px solid rgba(203, 65, 46, 0.1);
  border-radius: 6px 6px 6px 6px;
  color: whitesmoke;
  padding: 6px 10px;
  position: relative;
  top: 5px;
  left: 520px;
  text-transform: lowercase;
}

.current-location:hover {
  background: #cb412e;
  color: whitesmoke;
  transition: all 200ms ease-in-out;
}

.current-location:focus {
  background: #cb412e;
  color: whitesmoke;
}

.row {
  color: whitesmoke;
  margin: 0;
  position: relative;
  top: -40px;
  text-align: center;
}

.col:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}

.divider {
  font-size: 60px;
  font-weight: 200;
  position: relative;
  top: -2px;
}

.big-icon {
  color: whitesmoke;
  width: 95px;
  position: relative;
  top: -5px;
  left: 13px;
}

.big-icon:hover {
  transform: scale(1.2);
}

.small-icon {
  color: whitesmoke;
  font-size: 45px;
  margin: 0;
  position: relative;
  top: -25px;
}

.credit {
  color: #4c3010;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  position: relative;
  top: 30px;
  text-align: center;
}

.credit-link {
  color: #cb412e;
  text-decoration: none;
}

.credit-link:hover {
  color: #bab6a2;
  transition: all 200ms ease-in-out;
}

#celsius-link,
#fahrenheit-link {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -30px;
  text-align: center;
  text-decoration: none;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  color: #cb412e;
}

#celsius-link:focus,
#fahrenheit-link:focus {
  color: #cb412e;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -30px;
  text-align: center;
  text-decoration: none;
}
